
<?php //Carga de las partes que se usan de la base ?>

{% extends '../base.html' %}

{% load staticfiles %}

{% block main_block %}

<?php //div del contenido del carro ?>

<div class = 'contenido2'>
	<?php //Titulo del carro ?>
	<h1>Your shopping cart</h1>
	<br>
	<br>
	<?php //Tabla que imprime el estado del carrito, imagenes, productos, cantidad, opcion del eliminar, precio del producto(individual), precio total de un producto ?>
	<table class='tablacompra'>
		<tr class='filacompra'>
			<th> Image </th>
			<th> Product </th>
			<th> Quantity </th>
			<th> Eliminar </th>
			<th> Unit price </th>
			<th> Price </th>
		</tr>
		{% for prod in shoppingcart %}
			{% with p=prod.product %}
			<!--<form action="{% url 'shoppingcart_remove' p.id %}" method= "post"> -->
			{% csrf_token %}
			<tr>	
				<td><img class="{{p.prodName}}" src="{{p.image}}" ></td>
				<td><p>{{p.prodName}}</p></td>
				<td><p>{{prod.units}}</p></td>
				<td><a href="{% url 'shoppingcart_remove' p.id %}">Remove</a></td>
				<td><p>{{prod.price}}€</p></td>
				<td>{{prod.total_price}}€</td>
			</tr>
			<!-- </form> -->
			{% endwith %}
		{% endfor %}
		<?php //Precio total ?>
		<tr>
			<td>Total: </td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{shoppingcart.get_total_price}}€</td>
		</tr>
	
	</table>

	<a href="{% url 'create_order' %}">Checkout</a>
	<a href="{% url 'product_list'%}">Seguir Comprando</a>


</div>

{% endblock %}