<?php //Carga de las partes que se usan de la base ?>

{% extends '../base.html' %}

{% load staticfiles %}

{% block main_block %}

<?php //div del contenido del checkout ?>
<div class = 'contenido2'>
	<h1>SU PEDIDO HA SIDO REGISTRADO CON NUMERO: {{order.id}}</h1>

</div>


{% endblock %}