<?php //Carga de las partes que se usan de la base ?>

{% extends '../base.html' %}

{% load staticfiles %}

{% block main_block %}

<?php //div del contenido del checkout ?>
<div class = 'contenido2'>
	<h1>Checkout</h1>
	<form action="{% url 'confirm_order' %}" method="post">

		<p>Name</p>{{order_form.firstName}}
		<br>
		<p>LastName</p>{{order_form.familyName}}
		<br>
		<p>Email</p>{{order_form.email}}
		<br>
		<p>Address</p>{{order_form.address}}
		<br>
		<p>zip</p>{{order_form.zip}}
		<br>
		<p>city</p>{{order_form.city}}
		<br><br>
		{% csrf_token %}

		{% for prod in shopping_cart %}
			{% with p=prod.product %}
				<p>{{prod.units}}x {{p.prodName}} {{prod.totalprice}}</p>
			{% endwith%}
		{% endfor %}
		<p><b>TOTAL:</b>{{shoppingcart.get_total_price}} €</p>
		<br><br>

		<input type='submit' value='Place order' name='Checkout' class="checkoutbutton">
	</form>

</div>


{% endblock %}