
*{
    margin: 0;
    padding: 0;
}

img{
    width: 3cm;
    height: auto;
}

/* Para asegurar que ocupa toda la página y el body, y el color de fondo*/

html, body{
    background-color: #fff3e6;
    height: 100%;
}

.body {
  display: fixed;
  flex-direction: column;

}

/*Personalización del menú 1*/

.menu{
    z-index: 100;

    display: flex;
    flex-direction: row;
    /*flex-shrink: 1;*/
    justify-content: space-between;

    top: 0;
    width: 100%;
    min-width: 700px;
    height: 18%; /*89px*/

    height: 100px;
    position: fixed;
    min-height: 80px;

    font-family: 'Roboto', sans-serif;
    background-color: #1597DF;
    order:0;
}

.nombre {

  top:0;
  margin-left: 0%;
  width: 40%;
  min-width: 100px;
  height: 100%;
  min-height: 70px;
  text-align: center;
  color: black;

  order: 1;
}

.nombre h1{
    color: black;
    font-size: 40px;
    margin-top: 25px;
}

.nombre a{
    text-decoration: none;
}

.usr {
  margin-left: 25px;
}

.titulo {
  align-items: center;
  width: 1300px;
  /*flex-shrink: 1;*/
}

.registro {
  float: right;
  font-size: 20px;
  font-weight: bold;
  order :2;
  align-self:center;
  flex: 0 0 1;
  margin-left: 57vh;
}
.registro a {
  text-align: right;
  color: black;
}

.login {
  float: right;
  width: 100px;
  margin-right: 4vh;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  padding: 1vh;
  order :3;
}

.login a {
    text-align: right;
    color: black;
    display: block;
}

.menu2 {

    z-index: inherit;
    display: flex;
    flex-direction: row;

    justify-content: flex-end;
    background-color: #15AFFF;
    width: 100%;
    top: 100px;
    min-width: 700px;
    min-height: 20px;
    height: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.22);
    position: fixed;
    order:1;
}

.estructura {
    height: 90%;
    margin-top: 17vh;
}

/*PERSONALIZACION DEL FOOTER*/

.filafooter {
    clear: both;
    margin: 0 auto;
    padding-top: 0%;
    position: relative;
    z-index: 100;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-color: #1597DF;

    font-family: 'Roboto', sans-serif;
}

.copyright {
    text-align: center;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.lateral {
    position: fixed;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 0;
    height: 185vh;
    width: 200px;
    top:132px;
    /*border-right: 2px solid black;*/
    background-color: #e5d2b9; /*dimgrey*/
    box-shadow: 4px 1.5px 11px -3px rgba(0,0,0,0.75);
    min-width: 105px;

}

.lateral li a{
  margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  color:black;
  display:flex;
  overflow: auto;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.contenido {

  position:static;
  right: 0;
  margin-left: 300px;
  min-width: 600px;
  margin-top: 4%;
  margin-bottom: 4%;
}

.contenido2 {

  position:static;
  right: 0;
  margin-left: 15%;
  margin-top: 4%;
  margin-bottom: 4%;
}


.aux{
}

.aux ul{
  list-style-type: none;

}


.aux li{
  float: left;

}

.contenido ul{
  list-style-type: none;

}

.contenido li{
  float: none;

}

.tablacompra{
  border-collapse: collapse;
}

.tablacompra th{
  background-color: #15AFFF;
  padding-left:75px;
  padding-right:75px;
  padding-top:10px;
  padding-bottom:10px;
  
}

.tablacompra tr:nth-child(2n+1) {
  background-color: #DFdAFF;
  border: 1px solid #dddddd;
  text-align: center;
}



.tablacompra tr:nth-child(2n) {
  background-color: #fff3e6;
  border: 1px solid #dddddd;
  text-align: center;
}
.tablacompra tr:last-child{

  background-color: #15AFFF;
}

.detailtitle{
  font-size: 100px;
  font-family: 'Roboto', sans-serif;
}

.detailcabecera {
  margin-top: 170px;
  width: 1300px;
  text-align: center;
  text-decoration: underline;
}

.detail{
  width: 1100px;
  margin-top: 100px;
  margin-left:27%;
}

.pdetail {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin-top:2%;
}

.detailbutton {
  width: 10%;
}


background-color: #fff3e6;
